@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #1a1a1a;
  @apply text-gray-100;
}

/* animations */

.fadeIn {
  animation: 0.3s fadeIn forwards;
}

.fadeOut {
  animation: 0.3s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(-20px, 0);
  }
}
